.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  grid-gap: 15px;
  padding-top: 10%;
  margin: 0 5%;
  max-width: 1184;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .gallery {
    padding-top: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    max-width: 720px;
    padding-bottom: 7%;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    padding-top: 10%;
    grid-template-columns: repeat(1, 1fr);
    max-width: 288px;
    padding-bottom: 5%;
  }
}
