.content {
  margin: 0 auto 90px;
}

.introduction {
  padding-top: 7.3%;
  display: flex;
  flex-direction: column;
  margin-left: 11.4%;
  margin-right: 23.9%;
}

.introduction__title {
  font-size: 54px;
  font-weight: bold;
  margin: 0;
}

.introduction__quote-text {
  font-size: 24px;
  margin: 0;
  padding-top: 5%;
  margin-right: 11.5%;
}

.introduction__quote-cite {
  font-size: 24px;
  align-self: flex-end;
  margin: 0;
  padding-top: 1.4%;
  margin-right: 11.5%;
}

.introduction__description {
  font-size: 16px;
  margin: 0;
  padding-top: 5%;
  margin-right: 11.5%;
  letter-spacing: 0.1em; /* Ajusta este valor según lo que necesites */
}

@media screen and (max-width: 768px) {
  .introduction {
    padding-top: 12%;
    margin: 0 3.3%;
  }
  .introduction__title {
    font-size: 45px;
  }
  .introduction__quote-text {
    padding-top: 7.2%;
    margin-right: 0;
  }
  .introduction__quote-cite {
    padding-top: 0;
    margin-right: 0;
  }
  .introduction__description {
    padding-top: 4.6%;
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .introduction {
    padding-top: 21.2%;
    margin: 0 5.4%;
  }
  .introduction__title {
    font-size: 32px;
  }
  .introduction__quote-text {
    padding-top: 14.6%;
    margin-right: 0;
  }
  .introduction__quote-cite {
    padding-top: 4%;
    margin-right: 0;
  }
  .introduction__description {
    padding-top: 12%;
    margin-right: 0;
  }
}
