.page {
  background-color: #2a2c2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  max-width: 1280px;
  margin: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
@media screen and (min-width: 1280px) {
  body {
    background-color: #2a2c2f;
  }
}
